<nav class="navbar navbar-expand-lg navbar-dark sticky-top bg-dark">
    <div class="container">
      <a class="navbar-brand" href="#">HOME</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!--here start-->
      <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <button class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              About Us
            </button>
            <ul class="dropdown-menu dropdown-menu-dark">
              <li><a class="dropdown-item" href="#">College Profile</a></li>
              <li><a class="dropdown-item" href="#">Vision and Mission</a></li>
              <li><a class="dropdown-item" href="#">Honoris causa</a></li>
              <li><a class="dropdown-item" href="#">Managment Committee</a></li>
              <li><a class="dropdown-item" href="#">Academic Responsibilities</a></li>
              <li><a class="dropdown-item" href="#">Organogram</a></li>
              <li><a class="dropdown-item" href="#">Principal's Profile</a></li>
              <li><a class="dropdown-item" href="#">Accreditation</a></li>
              <li><a class="dropdown-item" href="#">Awards and Recognition</a></li>
              <li><a class="dropdown-item" href="#">College Song</a></li>
              <li><a class="dropdown-item" href="#">Milestone</a></li>
              <li><a class="dropdown-item" href="#">Policies</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <!--here end-->
      <!--here start-->
      <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <button class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              CDC
            </button>
            <ul class="dropdown-menu dropdown-menu-dark">
              <li><a class="dropdown-item" href="#">Programm Outcomes</a></li>
              <li><a class="dropdown-item" href="#">Programm Specific Outcomes</a></li>
              <li><a class="dropdown-item" href="#">Hand Book on Autonomy</a></li>
              <li><a class="dropdown-item" href="#">Syllabus</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <!--here end-->
      <!--here start-->
      <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <button class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              Academics
            </button>
            <ul class="dropdown-menu dropdown-menu-dark">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
              <li><a class="dropdown-item" href="#">College Profile</a></li>
              <li><a class="dropdown-item" href="#">Vision and Mission</a></li>
              <li><a class="dropdown-item" href="#">Honoris causa</a></li>
              <li><a class="dropdown-item" href="#">Managment Committee</a></li>
              <li><a class="dropdown-item" href="#">Academic Responsibilities</a></li>
              <li><a class="dropdown-item" href="#">Organogram</a></li>
              <li><a class="dropdown-item" href="#">Principal's Profile</a></li>
              <li><a class="dropdown-item" href="#">Accreditation</a></li>
              <li><a class="dropdown-item" href="#">Awards and Recognition</a></li>
              <li><a class="dropdown-item" href="#">College Song</a></li>
              <li><a class="dropdown-item" href="#">Milestone</a></li>
              <li><a class="dropdown-item" href="#">Policies</a></li>
              <li><a class="dropdown-item" href="#">College Profile</a></li>
              <li><a class="dropdown-item" href="#">Vision and Mission</a></li>
              <li><a class="dropdown-item" href="#">Honoris causa</a></li>
              <li><a class="dropdown-item" href="#">Managment Committee</a></li>
              <li><a class="dropdown-item" href="#">Academic Responsibilities</a></li>
              <li><a class="dropdown-item" href="#">Organogram</a></li>
              <li><a class="dropdown-item" href="#">Principal's Profile</a></li>
              <li><a class="dropdown-item" href="#">Accreditation</a></li>
              <li><a class="dropdown-item" href="#">Awards and Recognition</a></li>
              <li><a class="dropdown-item" href="#">College Song</a></li>
              <li><a class="dropdown-item" href="#">Milestone</a></li>
              <li><a class="dropdown-item" href="#">Policies</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <!--here end-->
      <!--here start-->
      <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <button class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              Admissions
            </button>
            <ul class="dropdown-menu dropdown-menu-dark">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <!--here end-->
      <!--here start-->
      <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <button class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              Student's Corner
            </button>
            <ul class="dropdown-menu dropdown-menu-dark">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <!--here end-->
      <!--here start-->
      <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <button class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              Examinations
            </button>
            <ul class="dropdown-menu dropdown-menu-dark">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <!--here end-->
      <!--here start-->
      <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <button class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              Library
            </button>
            <ul class="dropdown-menu dropdown-menu-dark">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
              <li><a class="dropdown-item" href="#">Action</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <!--here end-->
      <!--here start-->
      <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a href="#"><button class="btn btn-dark" data-bs-toggle="dropdown" aria-expanded="false">
              Placements
            </button>
            </a>
          </li>
        </ul>
      </div>
      <!--here end-->
      <!--here start-->
      <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <button class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              Research
            </button>
            <ul class="dropdown-menu dropdown-menu-dark">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <!--here end-->
      <!--here start-->
      <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <button class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              IQAC
            </button>
            <ul class="dropdown-menu dropdown-menu-dark">
              <li><a class="dropdown-item" href="#">IQAC</a></li>
              <li><a class="dropdown-item" href="#">NIRF</a></li>
              <li><a class="dropdown-item" href="#">DPT</a></li>
              <li><a class="dropdown-item" href="#">JAMIC</a></li>
              <li><a class="dropdown-item" href="#">ARIIA</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <!--here end-->
    </div>
  </nav>